<%- include("header") -%>
<div class="about">
<h1>About</h1>
</div>

<p>
  A simple to-do list application to save your to-do's. Now never forget to miss an important task by storing your
  to-do task persistently. Create/update as many lists as you want by just visiting /list_name route. For example: you can
  create a new Home to-do list by visiting /home from the app.
</p>

<%- include("footer") -%>
